@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-in {
    animation: slideIn 0.3s forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-out {
    animation: slideOut 0.3s forwards;
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}